.datepickerdemoBasicUsage {}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; 
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px;
}

input{
    width: 200px;
}

md-select * {
	color: rgba(255,255,255,0.87);
}