<md-content class="md-padding">
  <md-input-container class="md-block">
    <label>Descripcion</label>
    <input ng-model="configurations.description"> 
  </md-input-container>

  <md-input-container class="md-block">
      <label>FFMPEG Configuraciones</label>
      <input ng-model="configurations.ffmpeg"> 
      <span class="spaceffmpegConfig">ffmpeg {{configurations.ffmpeg}} -f flv rtmp://a.rtmp.youtube.com/live2/YOUTUBE_KEY</span>
  </md-input-container>

  <md-content layout="column" class="md-padding" class="newLine">
    <p class="marginNegative10">
      Configuraciones de <code>FFMPEG</code> guardadas anteriormente
    </p>
    <table border="0" class="marginNegative10">
      <tr>
        <th>Descripcion</th> 
        <th>Configuracion</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="config in configuration.config_ffmpeg">
        <td>{{ config.description }}</td>
        <td>{{ config.config }}</td>
        <td>
          <md-checkbox ng-model="config.active" aria-label="Checkbox 1" ng-click="updateStatusConfiguration(config._id, config.active)"></md-checkbox>
        </td>
      </tr>
    </table>
  </md-content>
    <div class="newLine marginNegative10">
        <md-button class="buttonGreen md-raised" ng-model="configurations.save" ng-click="saveConfig()">Guardar</md-button>
    </div>
</md-content>